/*GLOBAL*/

/*HEADERS*/

/*SECTION CARDS PRESENTATION*/
.card{
    border: none;
}

/*SECTION HUMAN*/



/*SECTION AUTHOR SERVICES CAROUSSEL*/
#services{
    border: 1px solid black;
    height: 100%;
}
#carouselExampleCaptions{
    height: 200px;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
}

/*SECTION CONTACT NEWSLETTER CARTE*/

/*FOOTER*/

@media (max-width:768px){
    /*GLOBAL*/
    
    /*HEADERS*/
    
    /*SECTION CARDS PRESENTATION*/
    
    /*SECTION HUMAN*/
    
    
    /*SECTION AUTHOR SERVICES CAROUSSEL*/
    
    
    /*SECTION CONTACT NEWSLETTER CARTE*/
    
    /*FOOTER*/
    
    }

@media (max-width:375px){
/*GLOBAL*/

/*HEADERS*/

/*SECTION CARDS PRESENTATION*/

/*SECTION HUMAN*/


/*SECTION AUTHOR SERVICES CAROUSSEL*/


/*SECTION CONTACT NEWSLETTER CARTE*/

/*FOOTER*/

}
