/*GLOBAL*/

/*HEADERS*/
/****************BARRE DE SEPARATION***********/
hr {
    border-top: 2px black solid !important;
}
/******** Image du header************/
.masthead {
 background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./ressources/img_cards.jpg");
 height: 520px;
}

/*SECTION CARDS PRESENTATION*/
.cartePresentation{
    margin-top: -50px;
}

/*SECTION HUMAN*/
.parallax {
    /* The image used */
    background-image: url("ressources/portrait-of-businessman.jpg");
  
    
    height: 406px;
  
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/*SECTION AUTHOR SERVICES CAROUSSEL*/
#services{
    border: 1px solid black;
    height: 100%;
}
#carouselExampleCaptions{
    height: 200px;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
}

/*SECTION CONTACT NEWSLETTER CARTE*/

/*FOOTER*/

@media (max-width:768px){
    /*GLOBAL*/
    
    /*HEADERS*/
    
    /*SECTION CARDS PRESENTATION*/
    
    /*SECTION HUMAN*/
    
    
    /*SECTION AUTHOR SERVICES CAROUSSEL*/
    
    
    /*SECTION CONTACT NEWSLETTER CARTE*/
    
    /*FOOTER*/
    
    }

@media (max-width:375px){
/*GLOBAL*/

/*HEADERS*/

/*SECTION CARDS PRESENTATION*/

/*SECTION HUMAN*/


/*SECTION AUTHOR SERVICES CAROUSSEL*/


/*SECTION CONTACT NEWSLETTER CARTE*/

/*FOOTER*/

}
